$sheet_shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$sheet_radius: .75rem;
$sheet_height: 2.75rem;
$sheet_background: #ffffff;
$sheet_overlay_color: #000000;
$sheet_z_index: 20;
$primary_color: #4293b9;
$scrollbar_color: rgba($primary_color, .3);

@function getHeight($base) {
    @return calc(#{$base} - #{$sheet_height});
}

.v-bottom-sheet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    &__wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $sheet_background;
        border-top-left-radius: $sheet_radius;
        border-top-right-radius: $sheet_radius;
        box-shadow: $sheet_shadow;
        height: 100vh;
        max-height: $sheet_height;
        z-index: $sheet_z_index;

        &--closed,
        &--half,
        &--full {
            transition: max-height .2s ease;
            max-height: $sheet_height;
        }

        &--half {
            max-height: getHeight(50%);
        }

        &--full {
            max-height: getHeight(100%);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: $sheet_z_index - 1;
        background-color: rgba($sheet_overlay_color, 0);
        transition: background-color .15s ease;

        &--half {
            background-color: rgba($sheet_overlay_color, .24);
        }

        &--full {
            background-color: rgba($sheet_overlay_color, .36);
        }
    }

    &__handler {
        display: block;
        height: .25rem;
        width: 2.75rem;
        border-radius: .5rem;
        background: rgba(#000000, .1);
        margin: 0 auto;

        &:hover {
            cursor: grab;
        }
    }

    &__header {
        background-color: rgba(#000000, .05);
        padding-top: 1rem;
        height: $sheet_height;
        box-sizing: border-box;

        &:active {
            cursor: grabbing;
        }
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: $sheet_z_index + 1;
        height: 3rem;
        width: 3rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
        border: unset;
        background-color: unset;
        outline: none;
        opacity: .3;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .5;
            cursor: pointer;
        }
    }

    &__close-animation {
        &-enter-active,
        &-leave-active {
            transition: transform .2s ease-in-out;
        }

        &-enter,
        &-leave-to {
            transform: scale(0);
        }
    }

    &__content {
        display: flex;
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;
        height: 100%;
        max-height: calc(100% - #{$sheet_height});
        box-sizing: border-box;
        scrollbar-width: slim;
        scrollbar-color: $scrollbar_color;

        &::-webkit-scrollbar {
            width: .25rem;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: $sheet_radius;
            background-color: $scrollbar_color;
        }
    }
}