<template>
    <div id="app">
        <div class="container">
            <div class="content-example">
                <VBottomSheet initial="half" dismiss>
                    <ul>
                        <li class="item1">item1</li>
                        <li class="item2">item2</li>
                        <li class="item3">item3</li>
                        <li class="item4">item4</li>
                        <li class="item5">item5</li>
                        <li class="item6">item6</li>
                        <li class="item7">item7</li>
                        <li class="item8">item8</li>
                        <li class="item9">item9</li>
                        <li class="item10">item10</li>
                        <li class="item11">item11</li>
                        <li class="item12">item12</li>
                        <li class="item13">item13</li>
                        <li class="item14">item14</li>
                        <li class="item15">item15</li>
                        <li class="item16">item16</li>
                        <li class="item17">item17</li>
                        <li class="item18">item18</li>
                        <li class="item19">item19</li>
                        <li class="item20">item20</li>
                        <li class="item21">item21</li>
                        <li class="item22">item22</li>
                        <li class="item23">item23</li>
                        <li class="item24">item24</li>
                        <li class="item25">item25</li>
                    </ul>
                </VBottomSheet>
            </div>
        </div>
    </div>
</template>

<script>
import VBottomSheet from './components/v-bottom-sheet';

export default {
    name: 'App',
    components: {
        VBottomSheet,
    },
};
</script>

<style>
#app,
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
body {
    background-size: cover;
    background: linear-gradient(#141e30, #243b55) no-repeat fixed;
}


.container,
.content-example {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.content-example {
    max-width: 24rem;
    position: relative;
}

</style>
